/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/


/*Кейфреймы*/

@keyframes disabled-button {
    from {
      left: -15px;
    }
  
    to {
      left: -11px;
    }
  }

  @keyframes sparks {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

  @keyframes scale {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(1.5);
    }
  }
  
  /* Анимации сердца */

  .like-icon .heart__body {
    fill: transparent;
    transition: fill 0.3s 0.06s linear;
  }

  .like-icon .heart__contour {
    fill: var(--heart-contour);
    transition: fill 0.1s linear;
  }

  .like-icon .heart__core {
    fill: transparent;
    transition: fill 0.3s linear;
  }

  .like-icon .heart__sparks {
    fill: var(--heart-sparks);
    opacity: 0;
    transition: opacity 0.3s linear;
  }

  .like-icon:hover .heart__core {
    fill: var(--heart-core-hover);
  }

  .like-icon:hover .heart__body {
    fill: var(--heart-body-hover);
  }

  .like-icon.is-liked .heart {
    transform-origin: center;
    animation: scale 0.3s 0.1s ease-in alternate;
  }

  .like-icon.is-liked .heart__sparks {
    animation: sparks 0.3s 0.3s ease-in alternate;
  }

  .like-icon:active .heart__body,
  .like-icon:active .heart__core {
    fill: var(--heart-body);
  }

  .like-icon.is-liked .heart__body,
  .like-icon.is-liked .heart__core,
  .like-icon.is-liked .heart__contour {
    fill: var(--heart-body);
  }

  .like-icon.is-liked .heart__contour {
    transition: fill 0.3s 0.1s linear;
  }